.activity-info-container {
    width: 100%;
    background-color: white;
}

.activity-info-content {
    max-width: 1350px;
    min-height: 75vh;
    margin: 0 auto;
    padding: 0 20px;
}

.activity-info-breadcrumb {
    font-size: 14px;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.activity-info-path {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.activity-info-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-info-action-btn {
    background-color: #677EAB;
    color: white;
    border: none;
    width: 120px;
    padding: 8px 20px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.activity-info-heading {
    font-size: 34px;
    margin-bottom: 30px;
}

.activity-info-main {
    display: flex;
    gap: 30px;
    max-height:100vh;
    margin-bottom: 50px;
}

.activity-info-left-section {
    flex: 2;
}

.activity-info-right-section {
    flex: 1;
    height: 100%;
    width: 100%;
    min-width: 400px;

}

.activity-info-image {
    width: 100%;
    max-width: 750px;
    max-height: 50%;
    object-fit:cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.activity-info-description {
    margin-bottom: 20px;
    text-align: justify;
}

.activity-info-locations {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.activity-info-location {
    flex: 1;
    color: #0019a7;
    font-weight: bolder;
}

.activity-info-location h3 {
    margin-bottom: 5px;
}

.provider-trainer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 100px;
    gap: 20px;
}

.activity-info-provider {
    flex: 1;
    max-width: 45%;
}

.activity-info-provider h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #0019a7;
}

.activity-info-trainers {
    flex: 1;
    max-width: 45%;
}

.activity-info-trainers h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #0019a7;
}

.activity-info-provider-image {
    width: 100%;
    max-width: 184px;
    max-height: 184px;
    object-fit: cover;
    margin-top: 10px;
}

.activity-info-trainer-images {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 28px;
    justify-content: space-around;
}

.activity-info-trainer-image {
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

/* Large screens (2560x1440 and above) */
@media (min-width: 1500px) {
    .activity-info-content {
        min-width: 1200px;
    }
    .activity-info-main{
        max-height:45vw;

    }
    .activity-info-heading {
        font-size: 2rem;
    }



    .activity-info-description {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1rem;
        max-width: 750px;
    }

    .activity-info-locations {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .activity-info-location h3 {
        font-size: 1.2rem;
    }

    .activity-info-location p {
        font-size: 1rem;
    }

    .activity-info-provider h2 {
        margin-top: 30px;
        font-size: 1.5rem;
    }

    .activity-info-provider p {
        font-size: 1rem;
    }

    .activity-info-trainers h2 {
        font-size: 1.5rem;
        margin-top: 30px;
    }
}

@media (min-width: 1025px) {
    .activity-info-content {
        max-width: 1000px;
    }
    .activity-info-right-section{
        min-height: 650px;
    }
    .activity-info-heading {
        font-size: 2rem;
    }

    .activity-info-image {
        max-width: 750px;
        min-height: 400px;
    }

    .activity-info-description {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1rem;
        max-width: 750px;
    }

    .activity-info-locations {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .activity-info-location h3 {
        font-size: 1.2rem;
    }

    .activity-info-location p {
        font-size: 1rem;
    }

    .activity-info-provider h2 {
        margin-top: 30px;
        font-size: 1.5rem;
    }

    .activity-info-provider p {
        font-size: 1rem;
    }

    .activity-info-trainers h2 {
        font-size: 1.5rem;
        margin-top: 30px;
    }
}
@media (min-width:1500px) {
    .activity-info-image {
        max-width: 750px;
        min-height: 500px;
    }
}
@media (min-width:1750px) {
    .activity-info-image {
        max-width: 750px;
        min-height: 550px;
    }
}
@media (min-width:2000px) {
    .activity-info-image {
        max-width: 750px;
        min-height: 600px;
    }
}
@media (min-width: 2500px) {
    .activity-info-content {
        min-width: 2000px;
    }

    .activity-info-heading {
        font-size: 48px;
    }

    .activity-info-image {
        max-width: 1200px;
        min-height: 35vw;

    }

    .activity-info-description {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        max-width: 1200px;
    }

    .activity-info-locations {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .activity-info-location h3 {
        font-size: 2rem;
    }

    .activity-info-location p {
        font-size: 1.5rem;
    }

    .activity-info-provider h2 {
        margin-top: 50px;
        font-size: 2.5rem;
    }

    .activity-info-provider p {
        font-size: 1.5rem;
    }

    .activity-info-trainers h2 {
        font-size: 2.5rem;
        margin-top: 50px;
    }
}

/* Medium screens */
@media (max-width: 1024px) {
    .activity-info-main {
        flex-direction: column;
        height: 100%;
        min-height: 1400px;
    }

    .activity-info-left-section,
    .activity-info-right-section {
        flex: 1;
        width: 100%;
    }
    .activity-info-right-section{
        height: 100%;
        min-height: 550px;
    }
    .activity-info-description {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1rem;
        max-width: 750px;
    }

    .activity-info-image {
        max-width: 750px;
        max-height: 50%;
        height: 65vw;
    }

    .provider-trainer-container {
        flex-direction: column;
    }

    .activity-info-provider,
    .activity-info-trainers {
        max-width: 100%;
    }

    .activity-info-locations {
        margin-bottom: 20px;
        margin-top: 100px;
    }
}
@media (max-width:860px) {
    .activity-info-main{
        min-height: 1300px;
    }

    
}
@media (max-width:730px) {
    .activity-info-main{
        min-height: 1200px;
    } 
}
@media (max-width:640px) {
    .activity-info-main{
        min-height: 1150px;
    } 
}

/* Small screens */
@media (max-width: 768px) {
    .activity-info-breadcrumb {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .activity-info-actions {
        flex-direction: row;
        gap: 10px;
    }

    .activity-info-action-btn {
        margin-left: 0;
        width: 60px;
        font-size: 10px;
        padding: 8px;
    }

    .activity-info-locations {
        flex-wrap: wrap;
    }

    .activity-info-location {
        flex-basis: calc(50% - 10px);
        min-width: 150px;
    }

    .activity-info-trainer-images {
        grid-template-columns: repeat(4, 60px);
    }
}

/* Very small screens */
@media (max-width: 480px) {
    .activity-info-heading {
        font-size: 28px;
    }

    .activity-info-location {
        flex-basis: 100%;
        margin-top: 20px;
    }

    .activity-info-trainer-images {
        grid-template-columns: repeat(4, 60px);
        gap: 20px;
    }
    .activity-info-right-section{
        min-width: 150px;
    }
    .activity-info-main{
        min-height: 1050px;
    }
}

/* Very small screens */
@media (max-width: 450px) {
    .activity-info-main{
        min-height: 1100px;
    }

}

