.footer {
  background-color: #363849;
  color: #ffffff;
  padding: 100px 80px 80px 80px;
  font-family: 'Playfair Display', serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-image {
  height: 80px;
  width: aut;
}

.footer-nav {
  gap: 3px;
  display: flex;
}

.footer-nav a {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
}

.separator {
  color: #ffffff;
  font-size: 11px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  color: #ffffff;
  font-size: 36px;
}

.footer-social a:hover {
  color: #83d0fa;
}

.footer-copyright {
  font-family: 'Playfair display',serif;
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
}

@media (max-width: 1150px) {
  .footer {
    background-color: #363849;
    color: #ffffff;
    padding: 50px 30px 50px 30px;
    font-family: 'Playfair Display', serif;
  }
  .footer-logo-image {
    height: 50px;
    width: auto;
  }
  .footer-social {
    display: flex;
    gap: 10px;
  }
  
  
  .footer-social a {
    color: #ffffff;
    font-size: 28px;
  }
  
}

.msg-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
}
/* Add this to UpcomingEvents.css */

.floating-btn {
  position: fixed;
  bottom: 30px;
/* Adjust color as needed */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's on top of other elements */
}


.floating-btn i {
  margin: 0;
}

.wishlist-btn {
  right: 90px; /* Position next to cart button */
  background-color: #ff4081; 

}

.wishlist-btn:hover{
  background-color: #e91e63; /* Darker shade on hover */
}

.cart-btn {
  right: 30px; /* Position on the right */
  background-color: #fff; 
  border:1px solid #363849;

}
.cart-btn:hover{
  background-color: #fff; 

}
@media (min-width:1800px) {
  
.footer-nav {
  gap: 3px;
  display: flex;
}

.footer-nav a {

  font-size: 13px;
}

.separator {
  color: #ffffff;
  font-size: 13px;
}

.footer-copyright {
  font-size: 13px;
  margin-top: 10px;
}
  .footer {
    padding: 100px 130px 120px 130px;
  }
  .footer-logo-image {
    height: 100px;
    width: auto;
  }
  .footer-social a {
    font-size: 3.8em;
  }

  .footer-content {
    gap: 20px;
  }

  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }
  .floating-btn {
    bottom: 50px;
    width: 70px;
    height: 70px;
    font-size: 34px;

  }
  
.wishlist-btn {
  right: 150px; /* Position next to cart button */

}

.cart-btn {
  right: 60px; /* Position on the right */

}

}
@media (max-width: 820px) {
  .footer {
    padding: 50px 40px 40px 40px;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }
}